body {
    padding: 50px 0px 0px 0px;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px ridge;
}

.footer{
    background-color: #2c2a2a;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color:white
}

.jumbotron{
    padding: 30px 30px;
    margin:0px auto;
    background : #2c2a2a;
    color:floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.titleHeight{
    height:60px
}

.buffet{
    margin-top:40px;
}

#peter{
    margin-right: 0px;
    padding-right:0px;
}

.navbar-dark{
    background-color: #512DA8
}